@use "reset";
@use "variables" as *;
@use "base";
@use "layout";
@use "component";

@use "pages/works";
@use "pages/works-detail";


/* =========================
  hero
========================= */
.p-hero {
  height: 90vh;
  border-bottom: 1px solid $color-white;
  position: relative;
  overflow: hidden;

  @include mq(md) {
    height: auto;
    padding-block: 10rem;
  }

  .l-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* content */
  &__content {
    font-family: $font-en;
    margin-top: 6.4rem;
  }

  &__title {
    font-size: clamp(3.2rem, 12vw, 6.4rem);
    line-height: 1.2;
    
    .name {
      letter-spacing: 0.02em;
    }
  }

  &__lead {
    font-size: clamp(1.6rem, 4vw, 2rem);
    letter-spacing: 0.055em;
    
    br {
      display: none;

      @include mq(sm) {
        display: block;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem;
  }

  /* background-shape */
  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    width: 35vw;
    height: 35vw;
    border: dotted 3px #ffac72;
    border-radius: 50%;
    top: -20vw;
    left: -15vw;
    z-index: -1;

    @include mq(md) {
      top: -10vw;
      left: -10vw;
    }

    @include mq(sm) {
      top: -7vw;
      left: -7vw;

    }
  }

  &::after {
    content: "";
    position: absolute;
    width: clamp(14rem, 13vw, 20rem);
    height: clamp(10rem, 10vw, 25rem);;
    top: 5vw;
    right: 12vw;
    background-image: radial-gradient(
      circle,
      rgba($color-accent, 0.45) 2px,
      transparent 2px
    );
    background-size: 16px 16px;
    z-index: -1;

    @include mq(md) {
      top: 25vw;
      right: 5vw;
    }
  }

  .p-hero__shape--square {
    position: absolute;
    right: -20vw;
    bottom: -25vw;
    width: 125vw;
    height: 40vw;
    background: $color-accent-light;
    transform: rotate(-30deg);
    z-index: -1;

    &::before {
      position: absolute;
      content: "";
      width: 28vw;
      height: 28vw;
      border-radius: 50%;
      background: $color-accent-light;
      top: -28vw;
      left: 65vw;
    }
  }

  .p-hero__shape--circle {
    position: absolute;
    width: 26vw;
    height: 26vw;
    background: $color-accent;
    border-radius: 50%;
    right: -8rem;
    bottom: -13rem;
    z-index: -1;

    @include mq(md) {
      right: -2rem;
      bottom: -5rem;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 40vw;
      background: #ff9048;
    }
    
    &::before {
      bottom: 70%;
      right: 60%;
    }

    &::after {
      transform: rotate(60deg);
      bottom: 30%;
      right: 100%;
    }
  }
}


/* =========================
  works
========================= */
.p-works {
  &__btn {
    @include mq(md) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.4rem;
      row-gap: 4.8rem;
    }

    @include mq(sm) {
      grid-template-columns: 1fr;
    }

    .p-works-card {
      transition: .3s ease;

      &:hover {
        color: $color-text-light;

        img {
          box-shadow:
            -1px 1px 2px rgba(#d5ccc5, 0.2),
            1px -1px 2px rgba(#d5ccc5, 0.2),
            -2px -2px 2px rgba(#ffffff, 1),
            2px 2px 2px rgba(#d5ccc5, 0.4);
          transform: translateY(1px);
        }
      }

      &__image img {
        border-radius: 0.8rem;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        box-shadow:
          -2px 2px 4px rgba(#d5ccc5, 0.2),
          2px -2px 4px rgba(#d5ccc5, 0.2),
          -5px -5px 5px rgba(#ffffff, 1),
          5px 5px 5px rgba(#d5ccc5, 0.4);
        transition: .3s ease;
      }

      &__title {
        font-size: $fz-lg;
        font-weight: 500;
        margin-block: 2.4rem 0.8rem;
      }

      &__category {
        font-family: $font-en;
        font-size: $fz-sm;
      }
    }
  }

  &__footer {
    text-align: center;
    margin-top: clamp(4.8rem, 6vw, 5.6rem);
    display: none;

    @include mq(md) {
      display: block;
    }
  }
}


/* =========================
  about
========================= */
.p-about {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 25% 240px;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 5.6rem;
    row-gap: 2.4rem;

    @include mq(lg) {
      column-gap: 2.4rem;
      grid-template-columns: calc(100% - 27rem - 2.4rem) 27rem;
    }

    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }

  &__body {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include mq(md) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  &__text {
    line-height: 2;
    margin-top: -2rem;

    p {
      margin-bottom: 2.4rem;

      br {
        @include mq(md) {
          display: none;
        }
      }
    }
  }

  &__visual{
    grid-row: span 2;
    position: relative;

    @include mq(lg) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    @include mq(md) {
      grid-column: unset;
      grid-row: unset;
      max-width: 45rem;
      margin-inline: auto;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      width: 80%;
      height: 80%;
      background: $color-accent-light;
      border-radius: 50%;
      top: 35%;
      left: -35%;
      z-index: -3;
    }

    &::after {
      width: 130%;
      height: 1px;
      background: $color-accent-dark;
      transform: rotate(-25deg);
      top: 90%;
      left: -85%;
      z-index: -1;
    }

    img{
      border-radius: 50%;
      filter: brightness(120%);
    }
  }

  &__image {
    position: relative;
    z-index: -2;
  }

  &__info {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;

    @include mq(lg) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      flex-direction: row;
    }

    @include mq(md) {
      grid-column: unset;
      grid-row: unset;
    }

    @include mq(sm) {
      flex-direction: column;
      width: 24rem;
      margin-inline: auto;
    }

    .p-about-info-card {
      font-family: $font-en;
      display: flex;
      align-items: center;
      gap: 1.6rem;

      @include mq(md) {
        width: 30%;
        flex-direction: column;
      }

      @include mq(sm) {
        width: 100%;
        flex-direction: row;
      }

      &__label {
        color: $color-text-light;
        font-weight: 500;
      }

      &__body {
        @include mq(md) {
          text-align: center;
        }

        @include mq(sm) {
          text-align: left;
        }
      }
    }

  }
}


/* =========================
  about
========================= */
.p-skills {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(sm) {
      grid-template-columns: 1fr;
    }
  }

  .p-skills-card {
    background: $color-white;
    padding: 2.4rem;
    border-radius: 1.6rem;

    &__title {
      display: flex;
      gap: 1.6rem;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    &__heading {
      font-size: $fz-lg;
      overflow-wrap: anywhere;
    }

    &__icon {
      width: 5.6rem;
    }

    &__items {
      margin-top: 1.6rem;
    }

    &__item {
      padding-left: 2rem;
      padding-block: 2px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 5px;
        height: 10px;
        border-bottom: 2px solid $color-accent;
        border-right: 2px solid $color-accent;
        transform: rotate(45deg);
        top: 9px;
        left: 3px;
      }
    }
  }
}


/* =========================
  service
========================= */
.p-service {
  // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: clamp(8rem, 8vw, 13rem);
  //   height: clamp(6rem, 6vw, 10rem);
  //   top: 5vw;
  //   right: 5vw;
  //   background-image: radial-gradient(circle, rgba($color-accent-dark, 1) 2px, transparent 2px);
  //   background-size: 16px 16px;
  //   z-index: -1;
  // }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    row-gap: 6.4rem;

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(sm) {
      grid-template-columns: 1fr;
    }

    .p-service-card {
      text-align: center;

      &__icon {
        display: inline-block;
      }

      &__title {
        font-family: $font-en;
        font-size: $fz-3xl;
        font-weight: 400;
        margin-block: 2.4rem 0.8rem;

        @include mq(md) {
          font-size: 2.2rem;
        }
      }

      &__text {
        @include mq(lg) {
          text-align: left;
        }
  
        @include mq(md) {
          text-align: center;
        }

        br {
          @include mq(lg) {
            display: none;
          }

          @include mq(md) {
            display: block;
          }
        }
      }
    }
  }
}


/* =========================
  contact
========================= */
.p-contact {
  background: $color-accent-light;
  margin-top: 9.6rem;
  position: relative;

  &__shape {
    &--circle {
      width: 30vw;
      height: 30vw;
      border: 3px dotted #ffac72;
      border-radius: 50%;
      position: absolute;
      left: -10vw;
      top: -15%;
      pointer-events: none;

      &::after {
        position: absolute;
        content: "";
        width: 40vw;
        height: 1px;
        background: #ff9048;
        transform: rotate(30deg);
        top: 60%;
        left: 0;
      }
    }

    &--dots {
      content: "";
      position: absolute;
      width: clamp(8rem, 10vw, 15rem);
      height: clamp(8rem, 10vw, 15rem);
      top: 5vw;
      right: 5vw;
      background-image: radial-gradient(circle, rgba($color-accent-dark, 1) 2px, transparent 2px);
      background-size: 16px 16px;

      @include mq(sm) {
        display: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 110%;
        height: 110%;
        background: rgba($color-accent, 0.35);
        border-radius: 50%;
        top: 50%;
        left: -50%;

        @include mq(sm) {
          display: none;
        }
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__text {
    line-height: 1.75;
    text-align: center;
    margin-block: -4rem 4rem;

    @include mq(md) {
      margin-block: -1.6rem 4rem;
    }
  }

  &__btn {
    text-align: center;
  }
}



/* =========================
  work-detail
========================= */
.p-work-detail {
  &__head {
  display: grid;
    grid-template-columns: auto 1fr;
    gap: 4.8rem;
    align-items: center;

    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }

  &__buttons {
    display: flex;
    gap: 3.2rem;
    margin-top: 2.4rem;

    @include mq(lg) {
      flex-direction: column;
      gap: 2.4rem;
    }

    @include mq(md) {
      flex-direction: row;
    }

    @include mq(sm) {
      flex-direction: column;
    }
  }

  &__meta {
    background: $color-white;
    border-radius: 1.6rem;
    padding: 1.6rem clamp(2.4rem, 3vw, 3.2rem);

    &-item {
      font-family: $font-en;
      display: grid;
      grid-template-columns: 12rem 1fr;
      border-bottom: 1px solid #ddd;
      padding: 2rem;

      @include mq(sm) {
        grid-template-columns: 1fr;
        padding: 1.6rem 0;
      }

      &:last-child {
        border-bottom: none;
      }

      dt {
        font-weight: 700;
      }
    }
  }

  &__nav {
    text-align: center;
  }

  .p-overview {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 3.2rem;
    align-items: center;
    
    @include mq(md) {
      grid-template-columns: 1fr;
    }
        
    &__content{
      position: relative;

      .p-overview__shape {
        position: absolute;
        content: '';
        width: 35%;
        aspect-ratio: 1;
        background: $color-accent-light;
        border-radius: 50%;
        top: -10rem;
        right: -3rem;
        z-index: -1;

        &::before {
          position: absolute;
          content: '';
          width: 180%;
          height: 1px;
          background: $color-accent;
          transform: rotate(-30deg);
          top: 60%;
          right: -30%;
        }
      }
      
      p {
        line-height: 1.75;
      }
    }
  }

  .p-approach {
    border-block: 1px solid $color-white;
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 4.8rem;
    align-items: center;

    @include mq(lg) {
      align-items: flex-start;
    }

    @include mq(md) {
      grid-template-columns: 1fr;
      gap: 6.4rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      margin-top: 4.8rem;
    }

    &-card {
      display: grid;
      grid-template-columns: 10rem 1fr;
      gap: 2.4rem;
      align-items: center;

      @include mq(sm) {
        grid-template-columns: 1fr;
      }

      &__image {
        width: 10rem;
        margin-inline: auto;
      }

      &__title {
        font-size: $fz-lg;
        font-weight: 600;
        margin-bottom: 1.2rem;

        @include mq(sm) {
          text-align: center;
        }
      }

      &__text {
        line-height: 1.75;
      }
    }

    &__image {
      position: relative;

      @include mq(md) {
        max-width: 24rem;
        margin-inline: auto;
      }

      &::before {
        position: absolute;
        content: '';
        width: 160%;
        aspect-ratio: 1;
        background: $color-accent-light;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }

  .p-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;

    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }

  .p-reflection {
    &__text {
      line-height: 1.75;
      margin-bottom: 1.6rem;
    }
  }

  .p-design {
    &-card {
      margin-bottom: 4.8rem;

      &__title {
        font-family: $font-en;
        font-size: clamp(1.6rem, 3vw, 1.8rem);
        line-height: 1;
        padding-left: 2rem;
        margin-bottom: clamp(1.6rem, 3vw, 2rem);
        position: relative;
  
        &::before {
          position: absolute;
          content: '';
          width: 1.2rem;
          height: 1.2rem;
          background: $color-accent;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-60%);
        }
      }

      &__image--color-palette {
        background: $color-white;
        padding: clamp(0.8rem, 2vw, 1.6rem);
        border-radius: clamp(0.8rem, 2vw, 1.6rem);
      }
    }
  }

}